{% extends "base.html" %}
{% block content %}
	<a href="{% url 'index' %}">Назад к списку</a>
	<h1>Новое изображение</h1>
	<div class="col-md-4">
		<form action="" id="upload_image_form" class="form-signin" enctype="multipart/form-data" method="post">
			{% csrf_token %}

			{% for field in upload_image_form %}
				<div class="form-group">
					{% if field.errors %}
						<div class="alert alert-danger">{{ field.errors }}</div>
					{% endif %}

					<label for="{{ field.name }}">{{ field.label }}</label>
					{{ field }}
				</div>
			{% endfor %}
			<button type="submit" id="upload_image_form_submit" class="btn btn-primary">Отправить</button>
		</form>
	</div>
{% endblock %}
